<!DOCTYPE html>
<html>
<html lang="<%= t('lang') %>">
<title><%= t('title') %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/mywebstart.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<!-- <script data-main="./js/main.js" src="./js/lib/require-2.1.20.js"></script> -->
<!-- <script src="/req/mywebstart.js"></script> -->

<body id="start">
<!--[if lt IE 10]>
<div style="color:red;text-align:center">
    <%= t('text.upgradeYourBrowser') %>
</div>
<![endif]-->

<!-- HEADER -->
<div id="header" class="w3-container w3-teal w3-row">

    <div class="w3-col m1">
        <span><img id="logo" class="w3-circle w3-card-4" src="./assets/img/peter.jpg" alt="avatar"></span>
    </div>


    <div id="title" class="w3-col m11">
        <span id="title-container" class="w3-jumbo w3-tangerine w3-wide w3-card-16">
            <span class="w3-blue">My </span>
            <span class="w3-yellow"> Web </span>
            <span class="w3-green">Start</span>
        </span>

        <div id="lang-nav" class="">
            <a href="/" class="w3-blue w3-large w3-tag w3-card-4">ru</a>
            <a href="/en" class="w3-yellow w3-large w3-tag w3-card-4">en</a>
        </div>

    </div>

    <div id="menubar">
        <span onmouseenter="w3_open()"><a class="w3-opennav w3-purple w3-xxxlarge
        w3-badge w3-card-4"><i class="fa fa-bars"></i></a></span>
    </div>

</div>
<!-- end of Header -->

<span style="clear:both"></span>

<!-- MAIN -->
<div class="w3-center">
    <div class="w3-row">


        <!-- LEFT SIDEBAR -->
        <div id="sidenav" class=" w3-col m2">

            <nav class="w3-sidenav w3-light-grey w3-animate-left w3-closenav"
                 onmouseleave="w3_close()" style="display:none">
                <a data-id="start" class="w3-hover-red">Go to Top</a>
                <a data-id="two-ways" class="w3-hover-yellow">Two ways to become a programmer</a>
                <a data-id="offer" class="w3-hover-orange">My offer</a>
                <a data-id="plan" class="w3-hover-blue">The plan</a>
                <a data-id="price" class="w3-hover-aqua">Price and Terms</a>
                <a data-id="contact" class="w3-hover-green">Send me a message</a>
            </nav>

        </div>
        <!-- END of Left Sidebar -->


        <!-- CENTER CONTAINER -->
        <div id="center-container" class="w3-col m9">

            <h1 class="hTitle">Hi,</h1>

            <div class="w3-section w3-justify">
                I am Peter, and this (2016) year at the age of 40 I became a Front-end Developer.
                A year and a half ago I started learning
                WEB programming from scratch. A couple of weeks ago I passed a 3-hour interview (15 minutes
                with an HR, 2 hours and a half with 2 front-end developers and 15 minutes with a manager),
                and as a result I got a job offer to join
                <a class="w3-pale-blue w3-btn" href="https://www.scnsoft.com" target="_blank">this</a> company
                as a Front-end developer of applications for mobile devices.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow w3-padding-large
            w3-margin-24">
                <p><i>To become a computer programmer it is not necessary to go to any courses or study at the University
                        or some school. There is everything in the internet for that. There's absolutely everything.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Fot this one year and a half I learned such technologies as HTML, CSS, JavaScript,
                BackboneJS, RequireJS, Underscore, NodeJS, Express, MongoDB, Mongoose, Grunt, Less, Jade, Bootstrap,
                Git.
            </div>

            <div class="w3-section w3-justify">
                In short, this is Full-stack, i.e. for a year and a half I learned how to create static and dynamic
                web sites and single-page applications, writing both Front-end and Back-end scripts with vanilla
                JavaScript and such frameworks as BackboneJS, RequireJS. I learned how to
                code NodeJS server and MongoDB database.
            </div>

            <div id="factors" class="w3-section w3-justify">
                In my case such great efficiency of learning was due to the following factors:
            </div>

            <div class="w3-accordion w3-light-grey w3-margin-12">
                <button onclick="show(this)" class="w3-btn-block w3-white w3-hover-teal w3-left-align">
                    Good English  <span class="w3-badge w3-teal"><i class="fa fa-caret-down"></i></span>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>As English is not my mother tongue and most of the greatest materials and documentation
                        is available only in English, this skill helped me a lot. If English is not your mother tongue
                        either, you should be prepared that you will have to use it all the time.
                        And the further you go, the less of your native language will be used.
                        </p>
                </div>
                <br />

                <button onclick="show(this)" class="w3-btn-block w3-white w3-hover-teal w3-left-align">
                    A habit of constant learning  <span class="w3-badge w3-teal"><i class="fa fa-caret-down"></i></span>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>These last 10 years I have been constantly learning something.
                        So, it was not an obstacle for me to learn so many new things within the shortest
                        period of time.
                        </p>
                </div>
                <br />

                <button onclick="show(this)" class="w3-btn-block w3-white w3-hover-teal w3-left-align">
                    Time  <span class="w3-badge w3-teal"><i class="fa fa-caret-down"></i></span>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>I spent ALL my spare time learning computer programming.</p>
                </div>
                <br />

                <button onclick="show(this)" class="w3-btn-block w3-white w3-hover-teal w3-left-align">
                    Strong motivation  <span class="w3-badge w3-teal"><i class="fa fa-caret-down"></i></span>
                </button>
                <div class="w3-accordion-content w3-container w3-justify">
                    <p>Everything is clear here.</p>
                </div>
                <br />

                <button onclick="show(this)" class="w3-btn-block w3-white w3-hover-teal w3-left-align">
                    Supervision of a skillful developer  <span class="w3-badge w3-teal"><i class="fa fa-caret-down"></i></span>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>Owing to very useful tips and advice from a very skillful developer I know,
                        I made a short cut and learned only what was needed, what was up-to-date,
                        what is used in big IT enterprises. Owing to that supervisor I am lucky to know,
                        I learnt development processes, basics of team work during development, because
                        good code writing skills is one thing, and development tools and processes is
                        another no less important thing.
                    </p>
                </div>
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>If English is not your native language and there is no chance for you to learn it
                        well enough, there is no big chance for you to learn web programming deep enough.</i>
                </p>
            </div>




            <h1 id="two-ways" class="hTitle">Two ways</h1>

            <div class="w3-section w3-justify">
                I do not know the way people become computer programmers in your country, but in mine
                there are 2 ways to do it.
            </div>

            <div class="w3-section w3-justify">
                The first one is to graduate from a specialized department of some University
                and then get invited by an IT company for training. In my country
                this is the simplest way, because the most difficult thing here is to enter a specialized University
                right after school. And then learning computer programming is a routine you do.
                But what if you fail to enter the University in proper time?
            </div>

            <div class="w3-section w3-justify">
                Then in my country you have to go my way and study everything on your own.
                And here you face a lot of problems to solve. You have a lot of questions to answer.
                What exactly to learn? How to do it? How to use the acquired skills?
                In my country you have to have very good skills to get a job, you have to be much more skillful
                than a person who walked the first way described above. As an example, when I went for an interview
                I was able to develop an entire application all by myself from scratch. I was able to write both
                Front-end and Back-end scripts, as well as database and make it all connected to third-party
                APIs...
            </div>

            <div class="w3-section w3-justify">
                In other words, you have to have skills of a senior developer to apply for a position of a junior
                one. Especially when you are 40 like I was.
            </div>

            <div class="w3-section w3-justify">
                Most of the rejects arrive at the stage of consideration of your resume.
                They all want you to have experience of commercial development. And you must have at least
                a good portfolio of APIs you've done.
            </div>

            <div class="w3-section w3-justify">
                To cut a long story short, it is a hard thing to make it all up when you are
                not inside of it all. You do not understand if something is worth learning or not,
                how to make a successful resume, what to expect during an interview,
                what skills are likely to be tested there, what kind of portfolio one should have, what the difference
                between commercial and non-commercial development is, what else one must be able to do apart
                from writing good code to get invited for an interview.
            </div>

            <div class="w3-section w3-justify">
                I went through it all. And I offer to help you go this way, too.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>I do not train amators. I train specialists to later on work for IT companies.</i>
                </p>
            </div>




            <h1 id="offer" class="hTitle">My offer</h1>

            <div class="w3-section w3-justify">
                I am not going to read lectures the way they might do it at the courses.
                I will provide you with material you will need to learn.
                Later on it will only be links in the internet, as well as tasks I will tell you to do on your own.
                You will have to find solutions to problems you will face all by yourself.
            </div>

            <div class="w3-section w3-justify">
                You will get one hour of skype session to ask me any questions
                on what you will not understand. But all the rest of learning you will be doing on your own.
                And it all will depend entirely on you how fast you will get the necessary skills.
            </div>

            <div class="w3-section w3-justify">
                So, once again. The scheme is as follows: I give you the material to study, you
                have a week to learn things, surfing the internet, reading articles, books, blogs, forums,
                documentation... Do as much as you can. Then we have one hour of session for me
                to explain things you failed to understand.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>If you ever become a computer programmer, internet blogs, articles, forums and
                        documentation will be the place you will stay at all the time. So better get used to it
                        from the very beginning.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Apart from providing you with the material to study and
                holding one-hour weekly session, I will revise your codes. I will tell you what you do wrong,
                what tools of development you should master. We will place your project to the internet.
                If needed, I will write server side scripts to your sample project. As soon as possible we will be using
                tools and processes of commercial development. In short, our goal is to master tools and processes
                of commercial development and create a working sample project.
            </div>

            <div class="w3-section w3-justify">
                I will give you tasks to fulfill. These will be problems I used to face or will face in my job for you to
                test your skills on real projects. That will show both of us how you cope with it.
                This will show us the quality of code you write and your abilities to find solutions.
                If you do all that, one day you will realize that you are ready to have an interview for
                a position of junior front-end developer.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>All employers want candidates to have experience of commercial development. But how the hell
                    one can get it?</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                If you make good progress, I will do my best to give you this opportunity.
                I do not promise this, but I will try hard, as I understand how important it is.
                Well, if you decide to do it, you will have to do it for free of course. That will be the training
                showing what you really can do.
            </div>

            <div class="w3-section w3-justify">
                I will prepare you for the interview. I will help you to make a successful resume, tell you what you should
                expect. Moreover, I will hold interviews with you until we both see that you can go and take a chance.
            </div>

            <div class="w3-section w3-justify">
                I will help you not to make the mistakes that I did. Despite I had a skillful developer
                supervising me, he was too busy to devote me enough time, so I had to do as I understood.
                As a result, I missed so many good chances. Well, I will share my experience with you.
            </div>




            <h1 id="plan" class="hTitle">The plan</h1>

            <div class="w3-section w3-justify">
                I can split these 18 months of my learning into following parts (blocks). I spent:
            </div>

            <ul class="w3-section w3-justify">
                <li>3 months on learning HTML / CSS and creating static sites.</li>
                <br />
                <li>6 months on learning vanilla JavaScript.</li>
                <br />
                <li>2 months on BackboneJS.</li>
                <br />
                <li>1 month on RequireJS.</li>
                <br />
                <li>1 month on preprocessors: Grunt, Less, SASS, Jade, Bootstrap.</li>
                <br />
                <li>2 months on server side, a great number of things from Back-end. As a result I got my
                    server and database: NodeJS, Express, MongoDB, Mongoose and many more minor things.</li>
                <br />
                <li>2 months on finishing my Single-page application, adding different kind of things like
                    authorization, password forgot, enhancing security, integrating it with third party APIs...</li>
            </ul>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>I started developing <a class="w3-pale-blue w3-btn" href="http://peterbabukh.herokuapp.com" target="_blank">
                       my first application </a> one week after I had started learning JavaScript.
                        Later on I rewrote it several times. Actually, this API of mine finally found me a job.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Thus, the scheme is as follows:
            </div>

            <div class="w3-section w3-justify">
                You pay 3 months in advance (please, see
                <a  class="w3-pale-blue w3-btn" data-id="price">Price and Terms</a>). Upon payment I
                provide you with the study material for the first 3 months. This enables you to
                learn HTML / CSS, i.e. make static sites (please, find out how much it is in you place).
                You learn and develop. One hour a week I answer your questions. Apart from that
                I revise your codes, make tasks for you to do, comment on your mistakes...
            </div>

            <div class="w3-section w3-justify">
                These 3 months will help us estimate your abilities and forecast your further progress.
                At the end of this block you are supposed to be able to make static sites.
            </div>


            <div class="w3-section w3-justify">
                If you cope with it alright and want to go on, we'll start learning JavaScript.
            </div>



            <h1 id="price" class="hTitle">Price and Terms</h1>

            <ul class="w3-section w3-justify">
                <li>Price - 100 USD a month (for 4 one-hour sessions and code reviews).</li>
                <br />
                <li>Prepayment for 3 months (term for learning of one block).</li>
                <br />
                <li>
                    <div>
                        <p>In case you should fail to come to hold a session at the time and on the date we will agree upon,
                            the session will be considered to be held and my obligations will be considered to be fulfilled.
                        </p>
                        <p>
                            <ul>Exceptions:
                                <li>
                                    if you feel sick a session will only be postponed
                                    (providing you send me a scan of a document confirming this fact);
                                </li>
                                <br />
                                <li>
                                    if we agree to postpone a session to another day of that same week (no more than once a month);
                                </li>
                                <br />
                                <li>
                                    if we agree to cancel a session (no more than once every 3 months);
                                </li>
                            </ul>
                        </p>
                    </div>
                </li>
            </ul>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>When you start estimating the time it will take you to learn all this stuff,
                        please, see
                        <a  class="w3-pale-blue w3-btn" data-id="factors">what enabled me to learn it so fast</a>.
                        If you do not meet any of these conditions, the time for getting these skills will
                        increase accordingly.</i>
                </p>
            </div>



            <h1 id="contact" class="hTitle">Contact me</h1>

            <div class="w3-section w3-justify">
                If you made up your mind to start, please, contact me by filling out the below form:
            </div>

            <div class="w3-card-8 w3-margin">

                <div class="w3-container w3-teal">
                    <h2>Contact Form</h2>
                </div>



                <form class="w3-container" action="" method="post">

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Your name</b></label>
                        <input name="name" class="w3-input  w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Your email</b></label>
                        <input name="email" class="w3-input w3-border" type="email" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Your skype</b></label>
                        <input name="skype" class="w3-input w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Your city and country</b></label>
                        <input name="city" class="w3-input w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Your message</b></label></p>
                    <p>
                        <textarea name="text" class="w3-input w3-border" rows="5"
                                  required maxlength=1000></textarea>
                    </p>

                    <p>
                        <input class="w3-input w3-border w3-text-teal" type="submit">
                    </p>

                </form>

            </div>


            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Now you might think it will take too much time and too many efforts.
                        You might start thinking that waisting 2 or 3 or 5 years on learning
                        is too much. You might be right. But think that if you do not make this step now,
                        in some 2 or 3 or 5 years you will look back and say to yourself: "If
                        I had started to learn all that stuff all these years ago, now I would alrfeady know it all.
                        I would already be a computer programmer".
                        So, do not stand still.</i>
                </p>
            </div>


        </div>
        <!-- END of Center Container -->


        <!-- RIGHT SIDEBAR -->

        <div class="w3-col m1 w3-padding">
            <!--
            <div class="w3-card-8 w3-padding w3-sand">
                <p>Разместите здесь свою рекламу.</p>
            </div><br>
            <div class="w3-card-8 w3-padding w3-sand">
                <p>Разместите здесь свою рекламу.</p>
            </div>
            -->
        </div>
        <!-- END of Right Sidebar -->


    </div>


</div>
<!-- end of Main -->

<!-- FOOTER -->
<div id="footer" class="w3-container w3-teal">
</div>
<!-- end of Footer -->


<script>

    function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-sidenav")[0].style.opacity = "1.0";
        return false;
    }

    function w3_close() {
        var style = document.getElementsByClassName("w3-sidenav")[0].style.display;
        if (style == 'block') {
            document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        }
    }

    function show(el) {
        $(el).next().toggle();
    }

    // smooth animation scroll
    function scrollSmoothly(e) {
        e = e || window.e;
        var target = e.target || e.srcElement;
        var elem = $(target).closest('A');
        var id;

        if ( elem && $(target).closest('A').attr('data-id') ) {
            id = $(elem).attr('data-id');
            $('html, body').animate({scrollTop:$('#' + id).offset().top}, 500, function () {
            });
        }

    }

    document.getElementById("center-container").addEventListener('mouseenter', w3_close, false);
    document.body.addEventListener('click', scrollSmoothly, false);



</script>


</body>
</html> 