<!DOCTYPE html>
<html>
<html lang="<%= t('lang') %>">
<title><%= t('title') %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" type="text/css" href="/css/mywebstart.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<script data-main="./js/main.js" src="./js/lib/require-2.1.20.js"></script>
<!-- <script src="/req/mywebstart.js"></script> -->
<body>

<!-- HEADER -->
<div id="header" class="w3-container w3-teal w3-row">

    <div id="menubar" class="w3-col m1 l1">
        <span onmouseenter="w3_open()"><a class="w3-opennav w3-purple w3-xxxlarge
        w3-badge w3-card-4">☰</a></span>
    </div>

    <div id="title" class="w3-col m10 l10">
        <span id="title-container" class="w3-jumbo w3-tangerine w3-wide w3-card-16">
            <span class="w3-blue">My </span>
            <span class="w3-yellow"> Web </span>
            <span class="w3-green">Start</span>
        </span>
    </div>

    <div class="w3-col m1 l1">
        <span><img id="logo" class="w3-circle w3-card-4" src="./assets/img/peter.jpg" alt="avatar"></span>
    </div>


</div>
<!-- end of Header -->

<span style="clear:both"></span>

<!-- MAIN -->
<div class="w3-center">
    <div class="w3-row">


        <!-- LEFT SIDEBAR -->
        <div id="sidenav" class=" w3-col m2 l2">

            <nav class="w3-sidenav w3-light-grey w3-animate-left w3-closenav"
                 onmouseleave="w3_close()" style="display:none">
                <a href="#start" class="w3-hover-red">В начало</a>
                <a href="#two-ways" class="w3-hover-yellow">Два пути в программирование</a>
                <a href="#offer" class="w3-hover-orange">Мое предложение</a>
                <a href="#plan" class="w3-hover-blue">План действий</a>
                <a href="#price" class="w3-hover-aqua">Стоимость и условия</a>
                <a href="#contact" class="w3-hover-green">Как со мной связаться</a>
            </nav>

        </div>
        <!-- END of Left Sidebar -->


        <!-- CENTER CONTAINER -->
        <div id="center-container" class="w3-col m9 l9">

            <h1 id="start" class="hTitle">Итак,</h1>

            <div class="w3-section w3-justify">
                меня зовут Петр, в этом (2016) году мне исполнилось 40 лет. Полтора года назад я начал с нуля изучать
                веб программирование. Недавно я прошел 3-часовое
                собеседование (15 минут с HR-ом, 2 с половиной часа с двумя техническими специалистами, ну и 15 минут
                с менеджером, после чего получил приглашение на работу в качестве Front-end разработчика
                приложений для мобильных устройств в
                <a class="w3-pale-blue w3-btn" href="https://www.scnsoft.com" target="_blank">этой</a> компании.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow w3-padding-large
            w3-margin-24">
                <p><i>Чтобы изучить web программирование, не обязательно учиться в институте.
                    Всё есть в интернете. Абсолютно всё.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                За эти полтора года я основательно освоил такие технологии, как HTML, CSS, JavaScript,
                BackboneJS, RequireJS, Underscore, NodeJS, Express, MongoDB, Mongoose, Grunt, Less, Jade, Bootstrap,
                Git.
            </div>

            <div class="w3-section w3-justify">
                Если кратко, то это Full-stack, то есть за полтора года я научился делать верстку и на чистом JavaScript,
                а так же с помощью фреймворка BackboneJS, RequireJS и шаблонизаторов, программировать Front-end,
                писать под него свой NodeJS сервер и сохранять данные в свою базу данных MongoDB.
            </div>

            <div class="w3-section w3-justify">
                В моем случае быстрому изучению способствовали:
            </div>

            <div class="w3-accordion w3-light-grey w3-margin-12">
                <button onclick="show(this)" class="w3-btn-block w3-white w3-left-align">
                    Отличный английский   <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>На начальной стадии изучения программирования, русскоязычного материала еще более-менее хватает, но для
                        практического профессионального применения полученных навыков английский нужен как воздух.
                        Потому что чем дальше, тем меньше русский язык будет присутствовать в вашей работе, и
                        когда вам скажут привязать ваше API к стороннему API, скорее всего
                        документация будет написана тоже на английском.</p>
                </div>

                <button onclick="show(this)" class="w3-btn-block w3-white w3-left-align">
                    Привычка учиться   <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>Последние 10 лет я только и делаю, что что-то изучаю и применяю, так что
                    к изучению огромного объема нового материала мне было не привыкать.</p>
                </div>

                <button onclick="show(this)" class="w3-btn-block w3-white w3-left-align">
                    Время   <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>Я уделял этому ВСЁ свое свободное время. Ночь длинная, как говорят в армии.</p>
                </div>

                <button onclick="show(this)" class="w3-btn-block w3-white w3-left-align">
                    Сильная мотивация   <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-accordion-content w3-container w3-justify">
                    <p>Тут все понятно.</p>
                </div>

                <button onclick="show(this)" class="w3-btn-block w3-white w3-left-align">
                    Супервайзинг со стороны опытного программиста   <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-accordion-content w3-container w3-justify w3-padding">
                    <p>Благодаря подсказкам опытных программистов я шел коротким путем и изучал только то,
                        что надо, что в тренде, что используется в крупных аутсорсинговых компаниях.
                        Благодаря тому же самому, я параллельно осваивал методологию командной работы
                        в IT компаниях, потому что изучить язык и фреймворки - это одно, а
                        знать внутренние процессы разработки - другое и тоже очень важное.
                    </p>
                </div>
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Без хорошего английского сильным профессионалом в Web программировании
                    тебе, к сожалению, не стать.</i>
                </p>
            </div>




            <h1 id="two-ways" class="hTitle">Два пути</h1>

            <div class="w3-section w3-justify">
                Как я для себя понял, в моей стране стать программистом можно 2 способами.
            </div>

            <div class="w3-section w3-justify">
                Первый - стандартный: поступить на профильный факультет, с 3 - 5 курса попасть на так называемую
                "ферму" или "лабораторию", и там уж как себя зарекомендуешь. Этот способ прост тем, что самое
                сложное - это поступить в ВУЗ на профильный факультет. А там шаблонно, потихоньку или
                насколько хватает амбициозности и способностей что-то изучать. Но что если поступить не повезло?
            </div>

            <div class="w3-section w3-justify">
                Тогда придется идти моим путем и изучать все самому. И здесь повляются вопросы. Что именно изучать? Как изучать?
                Что с этим делать дальше? Этот путь сложен тем, что для трудоустройства надо обладать
                хорошими навыками, причем чем больше спектр знаний, тем лучше. Например, на момент собеседования
                я мог в одиночку разработать под коюч любое приложение: сверстать его,
                прописать Front-end, серверную часть, базу данных, связать
                это приложение со сторонними ресурсами...
            </div>

            <div class="w3-section w3-justify">
                Другими словами, на собеседование надо придти
                со знаниями сильного senior developer, чтоб пробоваться на позицию junior. Меня взяли только лишь потому,
                что я знал и Front-end, и Back-end, и базу данных, и верстку. Плюс английский. Плюс портфолио...
            </div>

            <div class="w3-section w3-justify">
                Большинство отказов приходит еще на стадии рассмотрения резюме. Им всем нужен опыт коммерческой
                разработки, именно комерческой. В крайнем случае должно быть хорошее портфолио своих наработок.
            </div>

            <div class="w3-section w3-justify">
                В общем, когда ты не внутри, то здесь все сложно. Что учить надо, а что уже не стоит?
                Как и где получить то, что надо учить?
                Как правильно составить резюме и подать себя?
                Что спрашивают на собеседовании? Какие технические
                знания проверяют? Каким должен быть код в портфолио, чтоб его приняли?
                Каким должно быть это портфолио? Где, блин, получить этот треклятый опыт коммерческой разработки?
                Чем коммерческая разработка отличается от некомерческой? Что еще надо знать и уметь делать
                помимо написания кода в редакторе, даже если ты оказался гением, чтоб тебя заметили и согласились на
                интервью?
            </div>

            <div class="w3-section w3-justify">
                Я прошел через все это, в возрасте 40 лет. Мне потребовалось полтора года. И я готов провести вас
                моим путем.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Я готовлю не любителей, которые хотят попробовать что-то там поверстать,
                    а специалистов, конечная цель которых - трудоустроиться в IT компанию.</i>
                </p>
            </div>




            <h1 id="offer" class="hTitle">Что я предлагаю</h1>

            <div class="w3-section w3-justify">
                Я не буду читать вам лекции, как на курсах. Правда, я не был на курсах, но думаю, что знаю, как там все проходит.
                Я буду обеспечивать вас материалом, который надо будет освоить. Позже это уже будут просто ссылки в интернете,
                а еще позже - просто постановка задачи, которую вам надо будет решить самостоятельно. Найти
                материал по теме и реализовать эту задачу в виде проекта или его части.
            </div>

            <div class="w3-section w3-justify">
                У вас будет час в неделю, чтоб в скайп сессии или при личной встрече задать вопросы, если Вы чего-то не будете понимать.
                Это могут быть любые технические вопросы по теме, но только лишь для того, чтоб разрулить какой-нибудь
                очередной затык. Осваивать материал вам придется самостоятельно. Сколько у вас уйдет на это времени -
                будет зависеть только от вас.
            </div>

            <div class="w3-section w3-justify">
                Итак, еще раз. Схема такая: я даю вам материал, Вы неделю осваиваете его, читаете,
                роете интернет, форумы, делаете, сколько уж успеете,
                потом час сессии, где я объясняю, если чего не будете понимать.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Если программирование станет вашей профессией, то интернет блоги, форумы, документация,
                    статьи, учебники станут вашим домом, где Вы будете постоянно пропадать.
                    И искать там ответы на вопросы Вы будете самостоятельно. Так что лучше привыкать сразу.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Помимо раздачи материала и проведения часовой сессии в неделю, я буду проверять ваши коды. Я
                буду говорить, что не так в вашем коде, какими инструментами разработки обязательно надо овладеть.
                Я выложу ваш проект в интернет. Если надо будет, я напишу сервер к вашему проекту.
                Как только это будет возможно, я буду внедрять в обучение процессы
                комерческой разработки. В общем, нашей задачей будет пройти все этапы коммерческой разработки и
                на выходе получить готовый проект.
            </div>

            <div class="w3-section w3-justify">
                Я буду ставить вам задачи, с которыми сталкивался или буду сталкиваться в своих реальных боевых
                проектах, и смотреть, как Вы с этим справляетесь: сроки, качество кода, решения... Если Вы дойдете до этого,
                то в какой-то момент Вы вдруг скажете себе: Я уже могу пробоваться на позицию junior front-end developer.
            </div>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Все работодатели хотят от соискателей опыт коммерческой разработки. Вот только где его взять?</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Если у вас будет все получаться, я постараюсь дать вам этот опыт. Я не буду этого обещать, но
                я знаю, как это важно. Собственно, если Вы будете что-то писать и это будет действительно качественный код,
                то в какой-то момент Вы поймете, что знаете и можете достаточно много.
            </div>

            <div class="w3-section w3-justify">
                Я подготовлю вас к собеседованию. Помогу грамотно составить резюме, раскажу, что и как, к чему надо быть готовым,
                как именно готовиться. Но что более важно, я сам буду собеседовать вас до тех пор, пока не увижу,
                что можно пробовать.
            </div>

            <div class="w3-section w3-justify">
                Я помогу вам избежать моих ошибок. Несмотря на то, что что-то очень важное мне подсказывал
                практикующий программист, в силу своей занятсти он не мог плотно опекать меня, и до многих вещей мне
                приходилось доходить самому, чаще, постфактум, упуская одну реальную возможность за другой.
                Я поделюсь с вами своим опытом.
            </div>




            <h1 id="plan" class="hTitle">План действий</h1>

            <div class="w3-section w3-justify">
                Я могу разбить полтора года своего пути в Web программирование на следующие этапы (блоки):
            </div>

            <ul class="w3-section w3-justify">
                <li>3 месяца у меня ушло на изучение HTML / CSS и отработку верстки статических сайтов.</li>
                <br />
                <li>6 месяцев потребовалось для глубокого освоения чистого JavaScript.</li>
                <br />
                <li>2 месяца ушло на BackboneJS.</li>
                <br />
                <li>1 месяц - на RequireJS.</li>
                <br />
                <li>1 месяц я изучал и прикручивал препроцессоры: Grunt, Less, SASS, Jade, Bootstrap.</li>
                <br />
                <li>2 месяца у меня ушло на изучение целого Back-end блока, после чего у меня появился свои сервер и база данных:
                NodeJS, Express, MongoDB, Mongoose и кое что по мелочам.</li>
                <br />
                <li>еще месяца 2 я дописывал свое Single-page приложение, прикручивая к нему всякие Back-end фичи,
                как то авторизацию, пароли, улучшая безопасность приложения, коммутируя его со всякими сторонними ресурсами...</li>
            </ul>

            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Свое первое приложение я начал писать через 1 неделю после начала изучения JavaScript.
                    Потом по мере изучения я несколько раз его переписывал. Собственно, это приложение и нашло мне работу.</i>
                </p>
            </div>

            <div class="w3-section w3-justify">
                Таким образом, схема такая:
            </div>

            <div class="w3-section w3-justify">
                Вы платите за 3 месяца вперед (ознакомьтесь с правилами). По факту оплаты я обеспечиваю вас тем
                самым материалом, с которым за 3 месяца освоил HTML / CSS, то есть статичную верстку (узнайте, сколько это
                стоит в вашем городе). Вы изучаете, верстаете. Один час в неделю я отвечаю на ваши вопросы, вне
                этого часа смотрю ваши коды, даю задания для реализации, комментирую ошибки...
            </div>

            <div class="w3-section w3-justify">
                Эти 3 месяца помогут оценить дальнейшие перспективы. На выходе Вы должны уметь верстать статичные сайты
                и находить в сети решение возникающих проблем.
            </div>


            <div class="w3-section w3-justify">
                Если у вас все получается и Вы готовы продолжать, переходим к JavaScript.
            </div>



            <h1 id="price" class="hTitle">Стоимость и условия</h1>

            <ul class="w3-section w3-justify">
                <li>Оплата - 100 долларов в месяц.</li>
                <li>Оплата за 3 месяца вперед (плановое освоение цельного блока материала или группы тесно связанных блоков).</li>
                <li>
                    <div>
                        <p>В случае Вашей неявки на сессию в установленное по взаимному согласию время,
                        сессия считается проведенной, а занятие - отработанным.
                        </p>
                        <p>
                            <ul>Исключение:
                                <li>
                                    болезнь (необходимо прислать скан/фото больничного или справки с подтверждающими
                                    идентификационными документами - скан паспорта или водительского удостоверения);
                                </li>
                                <li>
                                    заблаговременный перенос на другой день на той же неделе (не чаще чем один раз в месяц);
                                </li>
                                <li>
                                    заблаговременная отмена занятия (не чаще чем один раз в 3 месяца);
                                </li>
                            </ul>
                        </p>
                    </div>
                </li>
            </ul>




            <h1 id="contact" class="hTitle">Как со мной связаться</h1>

            <div class="w3-section w3-justify">
                Если Вы все обдумали и готовы начать, свяжитесь со мной, отправив сообщение через форму ниже:
            </div>

            <div class="w3-card-8 w3-margin">

                <div class="w3-container w3-teal">
                    <h2>Форма для связи</h2>
                </div>



                <form class="w3-container" action="" method="post">

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Ваше имя</b></label>
                        <input name="name" class="w3-input  w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Ваш контактный email</b></label>
                        <input name="email" class="w3-input w3-border" type="email" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Ваш скайп</b></label>
                        <input name="skype" class="w3-input w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Ваш город и страна</b></label>
                        <input name="city" class="w3-input w3-border" type="text" required maxlength="100">
                    </p>

                    <p><label class="w3-label w3-validate w3-text-teal w3-left"><b>Текст Вашего сообщения</b></label></p>
                    <p>
                        <textarea name="text" class="w3-input w3-border" rows="5"
                                  required maxlength=1000></textarea>
                    </p>

                    <p>
                        <input class="w3-input w3-border w3-text-teal" type="submit">
                    </p>

                </form>

            </div>


            <div class="w3-container w3-justify w3-pale-yellow w3-leftbar w3-border-yellow
            w3-padding-large w3-margin-24">
                <p><i>Сейчас может казаться, что на все это требуется очень много времени и сил. Что потратить 2, 3, 5 лет
                        на нон-стоп изучение - слишком большая жертва.
                        Все это так. Но, если сейчас не сделать этот шаг, то, глядя на себя через 2, 3, 5 лет, окажется,
                        что время то все равно прошло, а Вы где были, там и остались. Так что не стойте на месте.</i>
                </p>
            </div>


        </div>
        <!-- END of Center Container -->


        <!-- RIGHT SIDEBAR -->

        <div class="w3-col m1 l1 w3-padding">
            <!--
            <div class="w3-card-8 w3-padding w3-sand">
                <p>Разместите здесь свою рекламу.</p>
            </div><br>
            <div class="w3-card-8 w3-padding w3-sand">
                <p>Разместите здесь свою рекламу.</p>
            </div>
            -->
        </div>
        <!-- END of Right Sidebar -->


    </div>


</div>
<!-- end of Main -->

<!-- FOOTER -->
<div id="footer" class="w3-container w3-teal">
</div>
<!-- end of Footer -->


<script>

    function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-sidenav")[0].style.opacity = "1.0";
        return false;
    }

    function w3_close() {
        var style = document.getElementsByClassName("w3-sidenav")[0].style.display;
        if (style == 'block') {
            document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        }
    }

    function show(el) {
        $(el).next().toggle();
    }

    document.getElementById("center-container").addEventListener('mouseenter', w3_close, false);

</script>


</body>
</html> 