@charset "utf-8";

@defaultBorderRadius: 6px;
.BoxBorderRadius(@radius: @defaultBorderRadius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

@BackgroundColor: white;

.tdColor() {
  background-color: @lightMaroonColor;
}

.ButtonStyles() {
  font-size: @defaultFontSize;
  font-weight: bold;
  background-color: @lightMaroonColor;
  color: @maroonColor;
  .ThickColoredBorder();
  text-decoration: none;
  cursor: pointer;
}
.ButtonHoverStyles() {
  background-color: lighten(@maroonColor, 10%);
  color: #FFFFFF;
  .boxShadow();
}

@defaultBorderWidth: 1px;
@defaultBorderStyle: solid;
@maroonColor: rgba(128, 0, 0, 1);
@lightMaroonColor: rgba(128, 0, 0, 0.1);
@lightGreen: #E0FFD1;
@darkGreen: #008000;
@lightRed: #FFDCDC;
@darkRed:#ff0000;

.ColoredBorder(@width:@defaultBorderWidth; @style:@defaultBorderStyle; @color:@maroonColor;) {
  @defaultColoredBorder: @width @style @color;
  border: @defaultColoredBorder;
}
.ThickColoredBorder(@width:@defaultBorderWidth; @style:@defaultBorderStyle; @color:@maroonColor;) {
  border: @width * 2 @style @color;
}

@defaultFontSize: 16px;
@adaptiveFontSize: @defaultFontSize * 0.75;
@defaultInputFontSize: 30px;
@adaptiveInputFontSize: 20px;

@imgRoot: '../assets/img';

.Adaptive(@minWidth; @maxWidth; @rules) {
  @media screen and (min-width: @minWidth) and (max-width: @maxWidth) {
    @rules();
  }
}

@shadowColor: gray;
.boxShadow(@h:0; @v:8px; @blur:15px; @color:@shadowColor) {
  box-shadow: @h @v @blur @color;
}

@headerHeight: 160px;
@footerHeight: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  & #header {
    position: relative;
    height: 120px;

    .Adaptive (0; 681px; {
      height: auto;
    });

    & #logo {
      height: 100px;
      margin: 5px;

      .Adaptive (0; 681px; {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 40px;
        margin: 2px;
      });

    }

    & #title {
      text-align: center;

      .Adaptive (0; 681px; {
        margin-top: 50px;
      });

      & #title-container>span {
        padding: 5px;

        .Adaptive (0; 681px; {
        font-size: 55px;
      });
      }
    }

    & #lang-nav {
      position: absolute;
      top: 20px;
      right: 20px;

      .Adaptive (0; 681px; {
        top: 2px;
        right: 2px;
      });

    }

  }

  & #menubar {
    position: fixed;
    left: 20px;
    top: 140px;

    .Adaptive (0; 681px; {
      left: 2px;
      top: 160px;
    });

    & a {
      display: block;
      height: 80px;
      width: 80px;
    }

  }


  & .w3-center {
   clear: both;

  }

  & #footer {
    height: @footerHeight;
    clear: both;
    margin-top: 50px;
  }

}

// without any height the floating row block will not be displayed
#sidenav {
  height: 10px;
}


/* Set a 100% height to left and right col */
.w3-col.m2 {height: 100%;}

.w3-btn,
.w3-btn-block {
  .Adaptive (0; 681px; {
    white-space: normal;
  });
}

.w3-tangerine {
  font-family: "Tangerine", serif;
}

.w3-lobster {
  font-family: "Lobster", serif;
}

.hTitle {
  .w3-lobster;
}


/* login page styles */

.loginForm,
.signupForm {
  width: 250px;
  margin: 0 auto;

  &  div {
    margin: 20px 0 0;
  }

  & .login-submit {
    height: 40px;
    .ButtonStyles();
    .BoxBorderRadius();

    &:hover {
      .ButtonHoverStyles();
    }
  }

  & label,
  & a,
  & input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: @defaultFontSize;
    padding: 3px;
    cursor: pointer;
  }

  & a {
    .boxShadow();
  }

  & input {
    &:extend(.input-field);
    padding: 0 3px;
    .boxShadow();
  }

  & label {
    text-align: left;
  }
}


// express-flash styles

.flash-message() {
  padding: 5px;
  .BoxBorderRadius();
}

.msg-right {
  .flash-message();
  background-color: @lightGreen;
  color: @darkGreen;
}

.msg-wrong {
  .flash-message();
  background-color: @lightRed;
  color: @darkRed;
}

